
<div class=" sidenav d-flex flex-column p-3">
   <div class="logo">
    <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
    <span class="fs-4 text-white">Oracle Cloud</span>
   </div>
    <hr class="align-middle">
    <ul class="main nav nav-pills flex-column mb-auto">
      <!-- Nav items -->
      <li class="nav-item">
        <img src="../../assets/cpu.png" class="nav-icon">   
        <a href="#" class="nav-link nav-main">
           Core Infrastructure
        </a>
        <ul class="nav-sub nav flex-column">
        
                <li class="nav-item">Compute</li>
                <li class="nav-item">Block Storage</li>
                <li class="nav-item">Compute</li>
                <li class="nav-item">Resources</li>
        </ul>
      </li>
     
      <!-- Nav items -->
      <li class="nav-item">
        <img src="../../assets/database (1).png" class="nav-icon">   
        <a href="#" class="nav-link nav-main">
           Core Infrastructure
        </a>
        <ul class="nav-sub nav flex-column">
        
                <li class="nav-item">Compute</li>
                <li class="nav-item">Block Storage</li>
                <li class="nav-item">Compute</li>
                <li class="nav-item">Resources</li>
        </ul>
      </li>

      <!-- Nav items -->
      <li class="nav-item">
        <img src="../../assets/folders.png" class="nav-icon">   
        <a href="#" class="nav-link nav-main">
           Core Infrastructure
        </a>
        <ul class="nav-sub nav flex-column">
        
                <li class="nav-item">Compute</li>
                <li class="nav-item">Block Storage</li>
                <li class="nav-item">Compute</li>
                <li class="nav-item">Resources</li>
        </ul>
      </li>
    </ul>
  
  </div>
  
  
  