<div class="container-fluid header">
    <div class="row">
        <div class="col-lg-2 dash">
            <h4 class="font-weight-bolder">Dashboard</h4>
            <p>Friday, 28 April.</p>
        </div>
        <div class="col-lg-3"> 
            <div class="search-wrapper">
                <input class="search-input" type="text" placeholder="Search">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="feather feather-search" viewBox="0 0 24 24">
                    <defs></defs>
                    <circle cx="11" cy="11" r="8"></circle>
                    <path d="M21 21l-4.35-4.35"></path>
                    </svg>
           </div>
        </div>
        <div class="col not">
            <div class="not1">
                <div class="noti-block">
                    <button class="notification-btn">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-bell">
                          <path d="M18 8A6 6 0 0 0 6 8c0 7-3 9-3 9h18s-3-2-3-9" />
                          <path d="M13.73 21a2 2 0 0 1-3.46 0" /></svg>
                      </button>
                </div>
               
                  <button class="profile-btn">
                    <img src="https://assets.codepen.io/3306515/IMG_2025.jpg" />
                    <span>Christane Doe</span>
                  </button>
            </div>
            
        </div>
    </div>    
</div>
<div class="row main-body">
    <div class="col-8">
        <div class="row">
            <div class="col-6 ">
                <div class="cards">
                    <img src="../../assets/chip.png" class="card-icon">
                    <p class="card-time">2-4 min</p>
                    <p class="card-cat">Compute</p>
                    <h6 class="card-name">Create a VM Instance</h6>
                </div>
            </div>
            <div class="col-6 ">
                <div class="cards  spad1">
                    <img src="../../assets/database.png" class="card-icon">
                    <p class="card-time">2-4 min</p>
                    <p class="card-cat">Compute</p>
                    <h6 class="card-name">Create a VM Instance</h6>
                </div>
            </div> 
        </div>

        <div class="row row-pad">
            <div class="col-6 ">
                <div class="cards">
                    <img src="../../assets/database.png" class="card-icon">
                    <p class="card-time">2-4 min</p>
                    <p class="card-cat">Compute</p>
                    <h6 class="card-name">Create a VM Instance</h6>
                </div>
            </div>
            <div class="col-6 ">
                <div class="cards  spad1">
                    <img src="../../assets/internet-connection.png" class="card-icon">
                    <p class="card-time">2-4 min</p>
                    <p class="card-cat">Compute</p>
                    <h6 class="card-name">Create a VM Instance</h6>
                </div>
            </div> 
        </div>

        <div class="row row-pad">
            <div class="col-6 ">
                <div class="cards">
                    <img src="../../assets/internet-connection.png" class="card-icon">
                    <p class="card-time">2-4 min</p>
                    <p class="card-cat">Compute</p>
                    <h6 class="card-name">Create a VM Instance</h6>
                </div>
            </div>
            <div class="col-6 ">
                <div class="cards  spad1">
                    <img src="../../assets/cloud-network.png" class="card-icon">
                    <p class="card-time">2-4 min</p>
                    <p class="card-cat">Compute</p>
                    <h6 class="card-name">Create a VM Instance</h6>
                </div>
            </div> 
        </div>
    </div>
    <div class="col-4">
        <div class="health">
            <div class="row">
                <div class="col-3 health-icon-bg ">
                    <img src="../../assets/heart-shape-outline-with-lifeline (1).png" class="health-icon">
                </div>
                <div class="col-9 health-item ">
                    <p>All systems operation</p>
                    <button type="button" class="btn btn-warning">View detials</button>
                </div>
            </div>
           
        </div>
        <div class="action-center">
            <h5 class="text-center tit">Action center</h5>
            <div class="row bill-sec">
                <div class="col">
                    <img src="../../assets/Master Card 1 (Hot Ion).png" class="credit-card">
                </div>
                <div class="col bill-area">
                    <p class="bill-title">Billing</p> <br>
                    <p class="date">Expires on 24 June, 2021</p>
                    <button type="button" class="btn btn-warning">Renew</button>
                </div>
            </div>
            <div class="bttn">
                <p>Analyse Cost</p>
                <p>Upgrade your account</p>
            </div>
           <div class="news">
                <h5>Whats New?</h5>
                <p class="news-head">OCI Cloud introduces new feature for the 
                    developers</p>
                <p class="news-time">March 21, 2021.</p>

                <p class="news-head ">OCI Cloud introduces new feature for the 
                    developers</p>
                <p class="news-time">March 21, 2021.</p>
           </div>
        </div>
    </div>
</div>